<h2><%=@album.title%> por <%=@album.artist%></h2>
<span class="meta">
    Publicado en <%= @album.released%>
    y clasificado bajo <strong><%= @album.genre %></strong>
</span>
<h3>Rating (sobre un máximo de <%=MusicAlbum.max_rating%>)</h3>
<%@album.rating.to_i.times do%>
    <img src ="/images/star.gif" />
<%end%>

<h3>Descripción</h3>
<p>
    <%=@album.description%>
</p>

